@{
    ViewBag.Title = "Timesheet Approval";
}


<div class="container" align="center">
    <h3>Timesheet Approval</h3>
    <h4 style="text-align:left">Waiting Applications</h4>
    <div id="waiting-apps">
        @Html.Action("ApprovalPartial", "TimeSheetApproval", new { type = "Waiting" })
    </div>
</div>

<div class="container" align="center">
    <h4 style="text-align:left">Confirmed Applications</h4>
    <div id="confirmed-apps">
        @Html.Action("ApprovalPartial", "TimeSheetApproval", new { type = "Confirmed" })
    </div>
</div>
