
<head>
    @Styles.Render("~/Content/css")
</head>

<button type="button" class="btn btn-default test" data-toggle="dropdown">
    <span class="glyphicon glyphicon-chevron-up">Leave Balance</span>
</button>


<button class="btn c-hamburger--rot">
    <span class="glyphicon glyphicon-chevron-up"></span>Leave Balance
</button>

<div class="container" align="center">
    <div class="approval-table" >
        <div class="approval-heading">
            <h4>LEAVE APPLICATION</h4>
            <p>#01234</p>
        </div>
        <div class="approval-date-row">
            <div class="approval-date col-lg-5">31 Dec 2017</div>
            <div class="approval-icon col-lg-2"><span class="glyphicon glyphicon-arrow-right"></span></div>
            <div class="approval-date col-lg-5">5 Jau 2018</div>
        </div>
        <div class="approval-user">
            <div></div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.btn').on('click', function () {
            $(this).toggleClass("is-active");
        });
    });
</script>