@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "ADManagement";
}

<br />
<h3 align="center">Active Directory Management</h3>

<div class="container">
    <div class="row AdminBox" style="text-align:center">
        <div class="col-md-2 square1" onclick="location.href='@Url.Action("User", "ADManagement")'">
            <span>User</span>
        </div>
    </div>
</div>
