@{
    ViewBag.Title = "Nan Tien Institute";
}

<head>
    @Styles.Render("~/Content/css")
</head>

<body>
    <div class="container">
        <img class="img-responsive center-block" src="https://www.calyx.net.au/media/nti/images/Campus.jpg" alt="Nan Tien Institute">
        <div class="row mainContainer">
            <div class="col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
                <br />
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                <h2>HR Application</h2>
                <p>Please submit your HR application here.</p>
                <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Index", "HRApplication")'">Apply Now</button>
            </div>

        </div>
    </div>
</body>