@{
    ViewBag.Title = "Nan Tien Institute";
}

<head>
    @Styles.Render("~/Content/css")
</head>

<body>
    <div class="row">
        <div class="col-md-6 jumbotron">
            <div class="inner">
                <h2>Leave Application</h2>
                <p>Please submit your leave application here.</p>
                <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Create", "LeaveApplication")'">I want to apply for leave</button>
            </div>
        </div>
        <div class="col-md-6 jumbotron">
            <div class="inner">
                <h2>Time Sheet</h2>
                <p>Please do your fortnightly time sheet here.</p>
                <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Index","TimeSheet")'">I want to complete my time sheet</button>
            </div>
        </div>
    </div>
</body>