@{
    ViewBag.Title = "Nan Tien Institute";
}

<head>
    @Styles.Render("~/Content/css")
</head>

<body>
    <div class="container">
        <img class="img-responsive center-block" src="https://www.calyx.net.au/media/nti/images/Campus.jpg" alt="Nan Tien Institute">
        <div class="row mainContainer">
            <div class="col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
                <br />
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                <h2>Leave Application</h2>
                <p>Please submit your leave application here.</p>
                <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Index", "LeaveApplication")'">I want to apply for leave</button>
            </div>

            <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
                <br/>
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                <h2>Time Sheet</h2>
                <p>Please do your fortnightly time sheet here.</p>
                <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Index","TimeSheet")'">I want to complete my time sheet</button>
            </div>
        </div>
    </div>
</body>