@{
    ViewBag.Title = "Nan Tien Institute";
}

<head>
    @Styles.Render("~/Content/css")
</head>

<body>
    <div class="container" align="center">
        <img class="img-responsive center-block" src="https://www.calyx.net.au/media/nti/images/Campus.jpg" alt="Nan Tien Institute">
        <div class="mainContainer">
            <div>
                <br />
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                <h2>HR Application</h2>
                <p>Please submit your HR application here.</p>
                <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Index", "HRApplication")'">Apply Now</button>
            </div>

        </div>
    </div>
</body>