@model LeaveBalanceViewModel

<td>
    @Model.Balances.First().UserName
</td>
@for (int i = 0; i < 3; i++)
{
    <td>@Html.DisplayFor(m => m.Balances[i].AvailableLeaveHours, new { @class = "col" })</td>
}
<td>
    <button class="edit-btn btn-primary">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <span>Edit</span>
    </button>
    @*@Html.ActionLink("Delete", "DeleteUserRole", "Admin", new { id = item.UserId }, null)*@
</td>

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script>
    $(document).ready(function () {
        var currentRequest = null;
        $(".edit-btn").click(function () {
            var userId = '@Model.Balances.First().UserID'
            var rowId = '@Model.RowId';
            currentRequest = $.ajax({
                url: "/Admin/EditUserLeaves",
                type: "get",
                data: { userId: userId, rowId: rowId },
                beforeSend: function () {
                    if (currentRequest != null) {
                        currentRequest.abort();
                    }
                }
            })
                .done(function (partialViewResult) {
                    $("#row" + rowId).html(partialViewResult);
                });
        });
    });
</script>