@model LeaveBalanceViewModel


<td>
    @Model.Balances.First().UserName
</td>

@for (int i = 0; i < 3; i++)
{
    <td>
        @Html.EditorFor(m => m.Balances[i].AvailableLeaveHours,
            new { htmlAttributes = new { @class = "form-control balance-input", @type = "number", step="0.01"} })
    </td>
}
<td>
    <button id="save-btn@(Model.RowId)" class="btn-success">
        <i class="fa fa-floppy-o" aria-hidden="true"></i>
        <span> Save </span>
    </button>
    <button id="cancel-btn@(Model.RowId)" class="btn-danger">
        <i class="fa fa-times" aria-hidden="true"></i>
        <span>Cancel</span>
    </button>
</td>

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script>
    $(document).ready(function () {
        var currentRequest = null;
            var userId = '@Model.Balances.First().UserID';
            var rowId = '@Model.RowId';

        // If 'save' button is clicked
        $("#save-btn@(Model.RowId)").click(function (e) {
            e.preventDefault();
            var balances = [];

            $("#row" + rowId + " .balance-input").each(function (i) {
                balances.push($(this).val());
            });
            currentRequest = $.ajax({
                url: "/Admin/EditUserLeaves",
                type: "post",
                data: { userId: userId, rowId: rowId, balances: balances },
                beforeSend: function () {
                    if (currentRequest != null) {
                        currentRequest.abort();
                    }
                }
            })
                .done(function (partialViewResult) {
                    $("#row" + rowId).html(partialViewResult);
                    alert("done" + rowId);
                });
        });

        // If 'cancel' button is clicked
        $("#cancel-btn@(Model.RowId)").click(function (e) {
            e.preventDefault();
            currentRequest = $.ajax({
                url: "/Admin/DisplayUserLeaves",
                type: "get",
                data: { userId: userId, rowId: rowId },
                beforeSend: function () {
                    if (currentRequest != null) {
                        currentRequest.abort();
                    }
                }
            })
                .done(function (partialViewResult) {
                    $("#row" + rowId).html(partialViewResult);
                });
        });
    });
</script>