@model List<TimeSheet.Models.LeaveRecord>

@{
    string[] LeaveNames = { "Sick Leaves", "Flexi Leaves", "Annual Leaves" };
}

<div class="container">
    <table class="table table-striped">
        <tbody>
            @for (int i = 0; i < 3; i++)
            {
                <tr>
                    @Html.HiddenFor(m => m[i].UserID)
                    @Html.HiddenFor(m => m[i].LeaveType)
                    <th>@LeaveNames[i]</th>
                    <td>@Html.EditorFor(m => m[i].AvailableLeaveHours, new { @class = "col" }) Hours</td>
                </tr>
            }
        </tbody>

    </table>
</div>
