@model List<LeaveRecord>

@{
    string[] LeaveNames = { "Sick Leaves", "Flexi Leaves", "Annual Leaves" };
}



<table class="table-fill">
        @for (int i = 0; i < 3; i++)
        {
            <tr>
                @Html.HiddenFor(m => m[i].UserID)
                @Html.HiddenFor(m => m[i].LeaveType)
                <th>@LeaveNames[i]</th>
                <td>@Html.EditorFor(m => m[i].AvailableLeaveHours, new { @class = "col" }) Hours</td>
            </tr>
        }
</table>
<br />
<input type="submit" value="Save" id="submit-btn" class="btn btn-primary" disabled="disabled" />
