@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Admin";
}

<br />
<h3 align="center">ADMINISTATOR SETTINGS</h3>
    
<div class="container">
    <div class="row AdminBox" style="text-align:center">
        <div class="col-md-2 square1" onclick="location.href='@Url.Action("Holidays", "Admin")'">
            <span>Public<br />Holiday</span>
        </div>
        <div class="col-md-2 square2" onclick="location.href='@Url.Action("EmailSetting", "Admin")'">
            <span>User<br />Email Setting</span>
        </div>
        <div class="col-md-2 square3" onclick="location.href='@Url.Action("UserRoleSetting", "Admin")'">
            <span>Leave<br />User Role Setting</span>
        </div>
        <div class="col-md-2 square3" onclick="location.href='@Url.Action("UpdateAdUser", "Admin")'">
            <span>Leave<br />Updating AD Users</span>
        </div>
    </div>
</div>





