
@{
    ViewBag.Title = "Payroll Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link media="print" rel="Alternate" href="print.pdf">
</head>
<body>
    <div class="container">
        <h2 class="do-not-print">Export payroll by period</h2>
        <div class="row do-not-print">
            <div class="col-md-2 col-lg-3 col-xs-6">
                @Html.Label("Year: ")
                @Html.DropDownList("year", (IEnumerable<SelectListItem>)ViewBag.Year, new { @class = "form-control" })
            </div>
            <div id="periodDiv" class="col-md-2 col-lg-3 col-xs-6">
                @Html.Label("Period: ")
                @{Html.RenderAction("SelectDefaultPeriod");}
            </div>
        </div>
        <span id="loader" class="glyphicon glyphicon-refresh"></span>
        <div id="preview"></div>

        <br/>
        @*<button id="expBtn" class="btn btn-default">Export</button>*@
    </div>
</body>

@section MyScripts{
    <script>
        var $loading = $('#loader').hide();

        function RenderPreview(currentRequest) {
            var year = $('#year').val();
            var period = $('#period').val();
            currentRequest = $.ajax({
                url: "/Admin/PayrollPreview",
                type: "get",
                data: { year: year, period: period },
                beforeSend: function () {
                    if (currentRequest != null) {
                        currentRequest.abort();
                    }
                    $loading.show();
                }
            })
                .done(function (partialviewresult) {
                    $loading.hide();
                    $("#preview").html(partialviewresult);
                })
                .fail(function (xhr) {
                    $loading.hide();
                    $("#preview").html('Request Status: ' + xhr.status + '<br/>' +
                                       'Status Text: ' + xhr.statusText +' ' + xhr.responseText);
                });
        }

        $(document).ready(function () {
            var currentRequest = null;
            $("#logo").addClass("do-not-print");
            $("#year").on("change", function () {
                var year = $('#year').val();
                $.ajax({
                    url: "/Admin/SelectPeriod",
                    type: "get",
                    data: { year: year }
                })
                    .done(function (partialviewresult) {
                        $("#perioddiv").html(partialviewresult);
                        RenderPreview();
                    });
            });

            $("#period").on("change", function () {
                RenderPreview(currentRequest);
            });
        });
    </script>
}
