@model List<string>

@{
    ViewBag.Title = "User Leaves";
    int i = 0;
}

<body>
    <div class="container" align="center">
        <table class="table-fill">
            <tr>
                <th rowspan="2">Name</th>
                <th colspan="3">Balance (hrs)</th>
                <th rowspan="2">Action</th>
            </tr>
            <tr>
                <th>Sick Leave</th>
                <th>Flexi Leave</th>
                <th>Annual Leave</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr id="row@(i)", class="leaverow">
                    @{ Html.RenderAction("DisplayUserLeaves", new { userId = item, rowId = i }); }
                </tr>
            }
        </table>
    </div>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ajax")
}
