@model TimeSheet.Models.TimeSheetContainer

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <div>
        @Html.DropDownList("year", "Year")
    </div>
    <div id="periodDiv">
        @{Html.RenderAction("SelectDefaultYear");}
    </div>

    <div id="timesheetDiv">
        @Html.Partial(@"~/Views/TimeSheet/_CreateTimeSheet.cshtml", Model)
    </div>
</p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#year").on("change", function () {
            var val = $('#year').val();
            $.ajax({
                url: "/timesheet/selectyear",
                type: "get",
                data: { year: val }
            })
                .done(function (partialviewresult) {
                    $("#perioddiv").html(partialviewresult);
                });
        });

        $("#periodDiv").on("change", function () {
            var year = $('#year').val();
            var period = $('#period').val();
            var yp = year + "." + period;
            $("#timesheetDiv").load('@Url.Action("GetTimeRecords","TimeSheet",null,Request.Url.Scheme)?text=' + yp);
        });
    });
</script>