
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Application</title>
    </head>
    <body>
        @Model.UserName has submitted for an HR application.
        The id is @Model.ID
    </body>
</html>