/*printing*/
@media print {
    .do-not-print {
        display: none !important;
    }

    @page {
        size: landscape
    }

    div.container {
        width: 100%;
    }

    div.payroll-preview {
        border: none;
        font-size: 11px;
        box-shadow: none;
    }

    div.payroll-preview .title {
        color: #1382ce !important;
    }

    hr {
        border-top: none;
    }
}
