@import url(https://fonts.googleapis.com/css?family=Lato:400,900);

* {
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
}

.navbar-default {
    background-color:#fff;
}

/*make sure navbar doesn't go beyonod main picture*/
.box1 {
    max-width: 1000px;
}

.mainContainer {
    max-width: 1000px;
}



/*footer style*/
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #222;
    height: 2.5em;
}

.menu li a {
    font-size: 1em;
    font-weight: 500;
    text-transform: capitalize;
    padding-top: 0.5em;
}

.menu li {
    list-style-type: none;
    display: inline-block;
}

.copyRight {
    padding-top: 0.5em;
    color: gray;
}

.navbar-inverse {
    border-color: #222;
}


/*leave detail button color animation start*/
.btn-primary,
.leaveDetail .btn,
.leaveDetail .btn:focus,
.leaveDetail .btn-default:active:hover,
.leaveDetail .btn-default:active:focus,
.leaveDetail .btn-default.active,
.leaveDetail .btn-default.active:hover,
.leaveDetail .btn-default.active:focus {
    outline: none;
    color: white;
    background-color: #264D78;
    border-color: white;
    border: none;
    transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    border-radius:2px;
}

.leaveDetail .btn-default:hover,
.leaveDetail .btn-default:active {
    color: white;
}

.leaveDetail .btn-default span {
    transition: transform 0.3s;
}

.leaveDetail .btn-default.active span {
    transform: rotate(180deg);
}

.leaveDetail .btn:hover,
.leaveDetail .btn:active:focus,
.leaveDetail .btn.active,
.leaveDetail .btn-default.active:focus {
    outline: none;
    outline-offset: 5px;
    background-color: #a7a7a7;
}

.leaveDetail .btn:hover,
.leaveDetail .btn:focus {
    color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
/*leave balance button color animation end*/

/*table template start*/
.table-fill {
    margin-top: 2em;
    border-color: blue;
}

.table-fill {
    border-radius: 4px;
    border-collapse: collapse;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

.table-fill th {
    color: #fff;
    background: black;
    border-bottom: 2px solid #9ea7af;
    border-right: 1px solid #fff;
    text-align: center;
    font-size: 1em;
    font-weight: 200;
    padding: 0.5em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}

.table-fill th:first-child {
    border-top-left-radius: 4px;
}

.table-fill th:last-child {
    border-top-right-radius: 4px;
    border-right: none;
}

.table-fill tr td {
    background: #FFFFFF;
    color: black;
    padding: 0.8em;
    text-align: center;
    font-size: 1.1em;
    font-weight: 300;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

.table-fill td:last-child {
    border-right: 0px;
}
/*table template change end*/

/*leave application page start*/
.hrForm-bk {
    margin-top: 1.5em;
    display: block;
    padding: 0.5em;
    width: 70%;
}

.hrForm-content {
    padding: 1em;
    margin-bottom: 4em;
    border-radius: 2px;
    border:1px solid lightgray;
}

.hrForm-content h3 {
    color: black;
    border-bottom: 1px solid #CFD8DC;
}

.hrForm-content label {
    color: black;
    font-size: 1em;
    text-align:right;
    padding-top:3px;
}

.hrForm-content hr {
    width:80%;
    border-color: lightgray;
}

.hrForm-content table {
    color: black;
}


.hrForm-content table th {
    background-color: #d9edf7;
    color:#31708f;
}


.form-control {
    border-radius:2px;
}

form p {
    color:black;
    font-size:1em;
    color:dimgray;
}



.button-group {
    display: block;
    margin-top: 50px;
}
/*leave application page end*/


/*leave balance style*/
.textStyleBefore span,
.textStyleAfter span {
    color: #31708f;
    font-weight:bold;
}

.textStyleAfter .modified {
    color:#51a47b;
    font-weight:bold;
}

.textStyleAfter .excess {
    color: #a94442;
    font-weight: bold;
}

.textStyleBefore,
.textStyleAfter {
    color:black;
}

.totalApplication {
    text-align:left;
}

.total {
    color: black;
}


/*tab setting start*/
#tabs .nav-tabs > li > a {
    border-radius: 4px 4px 0 0;
}

#tabs .tab-content {
    color: white;
    /*background-color: #808B96;*/
    padding: 5px 15px;
}

.nav > li > a {
    color: #808B96;
}

.tab-content {
    border-radius: 2px;
}
/*tab setting end*/

/*approve detail page style start*/
.approval-detail {
    padding:0.8em;
    border:1px solid lightgrey;
    border-radius:2px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.approval-detail th,
.approval-detail td {
    padding:0.8em 1.5em 0.8em 1em;
}

.approval-detail th {
    text-align:left;
}

.approval-detail hr {
    margin-bottom:10px;
}

.approve-detail table th {
    background-color: #d9edf7;
    color:#31708f;
    border-top:1px solid lightgrey;
}

.approve-detail table td {
    text-align:center;
}

.approve-detail table {
    margin: 0 2em;
    width:auto;
}

.approve-button .btn {
    border:none;
    border-radius:2px;
}

.approve-button input {
    margin:5px;
}

/*aprrove detail page style end*/


/*time sheet detain holiday indication*/
.nomoresheet .th-holiday {
    color: red;
}

/*modal style on timesheet page start*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.modal-header {
    padding: 2px 16px;
    background-color: #264D78;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}
/*modal style on timesheet page end*/

/*admin page square setting start*/
.AdminBox .square1, .square2, .square3 {
    margin: 1.5em;
    width: 10em;
    height: 10em;
    line-height: 10em;
    float: none;
    display: inline-table;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.AdminBox span {
    font-size: 1em;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
    line-height: normal;
}

.square1 {
    background-color: #1A5276;
}

.square1:hover {
    background-color: #7FB3D5;
    cursor: pointer;
}


.square2 {
    background-color: #1F618D;
}

.square2:hover {
    background-color: #7FB3D5;
    cursor: pointer;
}


.square3 {
    background-color: #2471A3;
}

.square3:hover {
    background-color: #7FB3D5;
    cursor: pointer;
}

/*admin page square setting end*/

/*User ID search bar start*/
.searchform {
    border: 1px solid #d3d3d3;
    padding: 2px 5px;
    width: 17em;
    height: 2.3em;
    box-shadow: 0 2px 2px rgba(0,0,0,.37);
    border-radius: 10px;
}

.searchform .userID {
    float: left;
    border-radius: 9px;
}

.searchform .searchbutton {
    float: right;
    color: white;
    font-size: 1em;
    padding: 2px;
    background-color: #1F618D;
}

/*emal setting column width setting*/
.emailSetting td {
    width: 500px;
}


/*User ID search bar end*/



@media (min-width: 1200px) {

    /*navbar*/
    .logIn {
        padding-right: 0.8em;
    }

    .logo {
        padding-top: 0.5em;
    }

    .navbar-default {
        font: bold 1.3em "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
        text-transform: uppercase;
        font-weight: 500;
        border-color: white;
        float: right;
    }

    .menuContainer {
        padding-top: 1.8em;
    }

    /*body*/
    .glyphicon-edit {
        font-size: 4em;
    }

    .glyphicon-list-alt {
        font-size: 4em;
    }

    /*leave application page*/
}

@media (min-width: 992px) and (max-width:1199px) {

    .logIn {
        padding-right: 0.8em;
    }

    .logo {
        padding-top: 0.5em;
    }

    .navbar-default {
        font: bold 1.1em "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
        text-transform: uppercase;
        font-weight: 500;
        border-color: white;
        float: right;
    }

    .menuContainer {
        padding-top: 1.8em;
    }

    /*body*/
    .glyphicon-edit {
        font-size: 3em;
    }

    .glyphicon-list-alt {
        font-size: 3em;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .box1 {
        max-width: 700px;
    }

    .img-reponsive {
        max-width: 700px;
    }

    .logIn {
        padding-right: 0.8em;
    }

    .logo {
        padding-top: 1.1em;
        padding-left: 0.5em;
    }

    .navbar-default {
        font: bold 1em "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
        text-transform: uppercase;
        font-weight: 500;
        border-color: white;
        float: right;
    }

    .menuContainer {
        padding-top: 1.8em;
    }

    /*body*/
    .glyphicon-edit {
        font-size: 2em;
    }

    .glyphicon-list-alt {
        font-size: 2em;
    }

    /*footer*/
    .menu li a {
        font-size: 0.9em;
        padding-top: 0.7em;
    }

    .copyRight {
        padding-top: 0.9em;
        font: 0.9em "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    }
}

@media (max-width: 767px) {

    #nameDisplay {
        display: none;
    }

    .logIn {
        /*display:inline;*/
        float: right;
        font-size: 0.8em;
    }

    .logo {
        max-width: 70%;
        height: auto;
        width: auto;
        float: left;
        padding-top: 1em;
    }

    .navbar-default {
        font: bold 0.8em "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
        text-transform: uppercase;
        font-weight: 500;
        border-color: white;
        float: right;
    }

    .menuContainer {
        padding-top: 1.2em;
    }

    .navbar-nav > li > a {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .dropdown-menu {
        font: bold 0.9em "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    }

    .nav > li {
        display: inline;
    }

    .nav > li > a {
        display: inline;
    }

    /*email setting column width*/
    .emailSetting td {
        width: auto;
    }

    /*body*/
    .glyphicon-edit {
        font-size: 2em;
    }

    .glyphicon-list-alt {
        font-size: 2em;
    }

    h2 {
        font-size: 1.2em;
    }



    /*small table responsive attribute*/
    .table-responsive {
        border: 1px solid #ffffff;
    }



    /*time sheet responsive*/
    .hidetr {
        display: none;
    }

    .nomoresheet table,
    .nomoresheet tbody,
    .nomoresheet th,
    .nomoresheet td {
        display: block;
        border: 1px solid lightgray;
    }

    .nomoresheet thead {
        display: none;
    }

    .nomoresheet td:nth-of-type(1):before {
        content: "Start Time";
    }

    .nomoresheet td:nth-of-type(2):before {
        content: "Lunch Break";
    }

    .nomoresheet td:nth-of-type(3):before {
        content: "End Time";
    }

    .nomoresheet td:nth-of-type(4):before {
        content: "Working Hours";
        margin-right: 0.5em;
    }

    .nomoresheet td:nth-of-type(5):before {
        content: "Flexi";
    }

    .nomoresheet td:nth-of-type(6):before {
        content: "Leave Time";
    }

    .nomoresheet td:nth-of-type(7):before {
        content: "Type";
    }



    .nomoresheet input[type=checkbox] {
        width: 3em;
    }

    .nomoresheet td::before {
        padding-top: 0.3em;
        float: left;
    }

    .nomoresheet td:last-child {
        border-right: 1px solid lightgray;
    }

    /*footer*/
    .footer .dropup {
        display: none;
    }
}

/*alert*/
.alert {
    text-align: left;
}


.left-aligh-cell {
    text-align:right;
}

.dropdown-menu {
    text-transform:capitalize;
}
