
* {
    font-family: Lato,Atlanta,Calibri,Arial,Sans-serif;
}

/*make sure navbar doesn't go beyonod main picture*/
.box1 {
    max-width: 1000px;
}

.mainContainer {
    max-width: 1000px;
}


/*footer style*/
.table {
    width: auto;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #222;
    height: 2.5em;
}

.menu li a {
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 0.5em;
}

.menu li {
    list-style-type: none;
    display: inline-block;
}

.copyRight {
    padding-top: 0.5em;
    color: gray;
}

.navbar-inverse {
    border-color: #222;
}

/*table style*/
.th-holiday {
    color: red;
}

.th-weekday {
    color: black;
}

/*leave balance button color animation*/
.btn,
.btn-default:active:hover,
.btn-default:active:focus,
.btn-default.active,
.btn-default.active:hover,
.btn-default.active:focus {
    color: white;
    background-color: #0099b3;
    border-color: white;
    border: none;
    transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

.btn-default:hover,
.btn-default:active {
    color: white;
}

.btn-default span {
    transition: transform 0.3s;
}

.btn-default.active span {
    transform: rotate(180deg);
}

.btn:focus,
.btn:hover,
.btn:active:focus,
.btn.active,
.btn.active:hover,
.btn-default.active:focus {
    outline: none;
    outline-offset: 5px;
    background-color: #a7a7a7;
}

.btn:hover,
.btn:focus {
    color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
/*leave balance button color animation end*/

/*leave balance table style change start*/
.table-fill {
    margin-top: 2em;
    border-color: blue;
}

.table-fill {
    border-radius: 4px;
    border-collapse: collapse;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

    .table-fill th {
        color: #D5DDE5;
        background: #1b1e24;
        border-bottom: 2px solid #9ea7af;
        border-right: 1px solid #343a45;
        text-align: center;
        font-size: 1em;
        font-weight: 100;
        padding: 0.5em;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        vertical-align: middle;
    }

        .table-fill th:first-child {
            border-top-left-radius: 4px;
        }

        .table-fill th:last-child {
            border-top-right-radius: 4px;
            border-right: none;
        }

    .table-fill tr td {
        background: #FFFFFF;
        padding: 0.8em;
        text-align: center;
        vertical-align: middle;
        font-weight: 200;
        font-size: 1.1em;
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
        border-right: 1px solid #C1C3D1;
    }

    .table-fill td:last-child {
        border-right: 0px;
    }
/*leave balance table style change end*/

/*leave application table style start*/
.applicationTable h3 {
    font-family: bold 1.4em Lato,Atlanta,Calibri,Arial,Sans-serif;
    font-weight: 200;
}

.applicationTable .table-fill td {
    text-align: left;
}

    .applicationTable .table-fill td:last-child,
    #leaveDetail .table-fill td:last-child {
        border-right: 1px solid #DDDDDD;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    }

#leaveDetail .table-fill td {
    font-size: 1em;
    vertical-align: middle;
}

#leaveDetail .table-fill td {
    border-left: 1px solid #DDDDDD;
}


/*leave application table style end*/

@media (min-width: 1200px) {

    /*navbar*/
    .logIn {
        padding-right: 0.8em;
    }

    .logo {
        padding-top: 0.5em;
    }

    .navbar-default {
        font: bold 1.3em Lato;
        text-transform: uppercase;
        font-weight: 500;
        border-color: white;
        float: right;
    }

    .menuContainer {
        padding-top: 1.8em;
    }

    /*body*/
    .glyphicon-edit {
        font-size: 4em;
    }

    .glyphicon-list-alt {
        font-size: 4em;
    }

    /*leave application page*/
}

@media (min-width: 992px) and (max-width:1199px) {

    .logIn {
        padding-right: 0.8em;
    }

    .logo {
        padding-top: 0.5em;
    }

    .navbar-default {
        font: bold 1.1em Lato,Atlanta,Calibri,Arial,Sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        border-color: white;
        float: right;
    }

    .menuContainer {
        padding-top: 1.8em;
    }

    /*body*/
    .glyphicon-edit {
        font-size: 3em;
    }

    .glyphicon-list-alt {
        font-size: 3em;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .box1 {
        max-width: 700px;
    }

    .img-reponsive {
        max-width: 700px;
    }

    .logIn {
        padding-right: 0.8em;
    }

    .logo {
        padding-top: 1.1em;
        padding-left: 0.5em;
    }

    .navbar-default {
        font: bold 1em Lato,Atlanta,Calibri,Arial,Sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        border-color: white;
        float: right;
    }

    .menuContainer {
        padding-top: 1.8em;
    }

    /*body*/
    .glyphicon-edit {
        font-size: 2em;
    }

    .glyphicon-list-alt {
        font-size: 2em;
    }

    .footer .navbar-inverse li a {
        font: 0.7em Lato;
    }

    .copyRight p {
        font: 0.7em Lato;
    }
}

@media (max-width: 767px) {

    #nameDisplay {
        display: none;
    }

    .logIn {
        /*display:inline;*/
        float: right;
        font-size: 0.8em;
    }

    .logo {
        max-width: 70%;
        height: auto;
        width: auto;
        float: left;
        padding-top: 1em;
    }

    .navbar-default {
        font: bold 0.8em Lato,Atlanta,Calibri,Arial,Sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        border-color: white;
        float: right;
    }

    .menuContainer {
        padding-top: 1.2em;
    }

    .navbar-nav > li > a {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .dropdown-menu {
        font: bold 0.8em Lato;
    }

    .nav > li {
        display: inline;
    }

        .nav > li > a {
            display: inline;
        }

    /*body*/
    .glyphicon-edit {
        font-size: 2em;
    }

    .glyphicon-list-alt {
        font-size: 2em;
    }

    h2 {
        font-size: 1.2em;
    }

    p {
        font-size: 0.7em;
    }

    /*time sheet*/
    table, thead, tbody, th, td, tr {
        display: block;
    }

    th {
        font-size: 1.5em;
        background-color: lightgray;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    .leaveTable td:nth-of-type(1):before {
        content: "Start Time";
    }

    .leaveTable td:nth-of-type(2):before {
        content: "Lunch Break";
    }

    .leaveTable td:nth-of-type(3):before {
        content: "End Time";
    }

    .leaveTable td:nth-of-type(4):before {
        content: "Leave Time";
    }

    .leaveTable td:nth-of-type(5):before {
        content: "Flexi";
    }

    .leaveTable td:nth-of-type(6):before {
        content: "Type";
    }

    .leaveTable .clickbox {
        padding-left: 0;
    }

    .leaveTable input[type=checkbox] {
        width: 2em;
    }

    .footer .navbar-inverse li a {
        font: 0.7em Lato;
    }

    .copyRight p {
        padding-left: 1.5em;
        font: 0.7em Lato;
    }
}

/*modal style on timesheet page start*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
.th-holiday {
    color: red;
}

.modal-body {
    padding: 2px 16px;
.th-weekday {
    color: black;
}
/*modal style on timesheet page end*/
